.visible {
	display: inline-block;
}

.hidden {
	display: none;
}

.profile-view h3  {
	float: left;
	margin: 3px;
}

.profile-view .scl-edit-save-cancel {
	float: left;
}

.profile-view input {
	float: left;
}

.profile-view img {
	display: block;
	clear: both;
}